@import "software-progress/software-progress.scss";

.software {
	.software__wrapper {
		margin-top: 7.5%;
		.software__content {
			display: flex;
			justify-content: space-between;
			margin: 3.4% 0 0 1.5%;
			@media screen and (max-width: $phoneWidth ) {
				flex-wrap: wrap;
			}
			.software__col {
				width: 45%;
				@media screen and (max-width: $phoneWidth ) {
					width: 100%;
				}
			}
		}
	}
}