.education
	div(class="education__wrapper heading_margin_theme")
		+heading("assets/img/education-icon.png", "EDUCATION")
		include job/job.pug 
		.education__jobs-container
			+job("MASTER DEGREE", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
			+job("MASTER DEGREE", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
			+job("MASTER DEGREE", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
			+job("MASTER DEGREE", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
