.experience
	div(class="experience__wrapper heading_margin_theme")
		+heading("assets/img/experience-icon.png", "EXPERIENCE")
		.experience__jobs-container
			+job("COMPANY NAME", "Feb 2011 - Jun 2014", "YOUR JOB HERE", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
			+job("COMPANY NAME", "Feb 2011 - Jun 2014", "YOUR JOB HERE", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
			+job("COMPANY NAME", "Feb 2011 - Jun 2014", "YOUR JOB HERE", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
			