// Font
$mainFont                : MyriadProRegular ,'Montserrat', Helvetica, Arial, sans-serif;
$boldFont                : MyriadProBold ,'Montserrat', Helvetica, Arial, sans-serif;
$lightFont               : MyriadProLightSemiExt ,'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 17px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


// Main color
$default-color           : #ffffff;
$primary-color           : #3d6cb0;
$lock-color 						 : #e6e6e6;