.skills
	div(class="skills__wrapper indent_wrapper_theme")
		+heading("assets/img/skills-icon.png", "SKILLS")
		.skills-container
			.skills-container__wrapper
				include skill-box/skill-box.pug
				+contact-box("CREATIVE", 9)
				+contact-box("TEAMWORK", 11)
				+contact-box("INNOVATE", 6)
				+contact-box("COMMUNICATION", 11)