mixin heading(src, text)
	.heading
		.heading__wrapper
			div(class="heading__avatar-border theme_circle")
				div(class="heading__avatar-container theme_circle")
					img(src=src, class="heading__avatar theme_circle")
			h3.heading__text=text
			.heading__vert-line