mixin contact-box(name, text)
	.contact-box
		.contact-box__wrapper
			h4(class="contact-box__heading contact-box__text default_color_theme")=name
			p(class="contact-box__desc contact-box__text")=text