doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title Webpack app
	body
		main.page
			.wrapper
				section.left-col
					include blocks/block-cutaway/cutaway.pug 
					include blocks/block-profile/profile.pug 
				section.right-col