.cutaway
	.cutaway__wrapper
		div(class="cutaway__avatar-border theme_circle")
			div(class="cutaway__avatar-container theme_circle")
				img(src='assets/img/avatar.jpg', class="cutaway__avatar theme_circle")
		h2(class="cutaway__text h2") NAME HERE
		h1(class="cutaway__text h1") SURNAME
		h4(class="cutaway__text h4") GRAPHIC DESIGNER 
