mixin progress-bar(name, progress)
	.software-progress
		.software-progress__wrapper
			h3.software-progress__text=name
			.software-progress__progress-bar-container
				div(class="software-progress__progress-bar" data-progress=progress)